@import url('https://fonts.googleapis.com/ css?family=Poppons:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-image: url("..oep/oep/background.jpg");
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
section .imgBx
{
    position: relative;
    width: 50%;
    height: 100%;
}
section .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    object-fit: contain;
    display: flex;
    box-shadow: 5px 0 10px 0
    grey;
    background-color: rgb(13, 178, 219);
}
section .imgBx1 img
{
    position: absolute;
    top: 10;
    left: 90%;
    width: 115px;
    height: 10%;
    object-fit: contain;
}
.navbar{
    background-color: #ebb60a83;
    padding-top: 10%;
    padding-left: 0%;
    padding-right: 0%;
    width: 164%;
}
.navbar img{
    float: right;
    margin-left: 15px;
}
.navbar span{
    color: rgb(138, 69, 13);
    height: 90px; 
    line-height: 40px; 
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    white-space: nowrap;
    padding-top: 0px;
}
.box{
    width: 100px;
    height: 50px;
    padding: 30px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: transparent;
}
.box h1{
    color: rgb(182, 31, 64);
    text-transform: uppercase;
    text-align: center;
}
.box input[type = 'text'],.box input[type = 'number'],.box input[type = 'password'],.box input[type = 'email'],.box select{
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 5px;
    transition: 0.15s;
    cursor: pointer;
    font-family: Roboto, 'Font Awesome\ 5 Pro', sans-serif;
}
.box input[type = 'text']:focus,.box input[type = 'number']:focus,.box input[type = 'password']:focus,.box input[type = 'email']:focus{
    width: 280px;
    border-color: #da1973;
}
.submit-btn{
    padding: 14px 40px;
    display: block;
    background: linear-gradient(to right,#ff105f,#ff0606ce);
    border: 0;
    outline: none;
    border-radius: 30px;
    text-align: center;
    margin: 20px auto;
}
.submit-btn:hover{
    background: linear-gradient(to right,#007db7,#5aff15);
}
a{
    text-decoration: none;
    color: blue;
    cursor: pointer;
}
button{
    border-radius: 65px;
}
.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.core{
    color: deepskyblue;
    background-color: white;
    border-color: deepskyblue;
    padding: 20px 0;
    width: 100%;
    margin-bottom: 5px;
}
.core:hover{
    border: white;
    color: white;
    background-color: deepskyblue;
}
.pass{
    color: deepskyblue;
    background-color: white;
    padding: 20px 0;
    width: 100%;
    border-color: deepskyblue;
}
.pass:hover{
    border: white;
    color: white;
    background-color: deepskyblue;
}
h1
{
    padding-top: 30%;
}