body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.navbar{
    overflow: hidden;
    background-color: #333;
}
.navbar img{
    float: left;
    margin-left: 15px;
}
.navbar span{
    color: white;
    height: 90px; 
    line-height: 10px; 
    white-space: nowrap;
    padding-top: 10px;
}
#sidenavpanel a{
    position: absolute;
    left: 100px;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}
#sidenavpanel a{
    left: 0;
}
#dashboard{
    top: 90px;
    background-color: #f0560a;
}
#profile{
    top: 150px;
    background-color: #2196F3;
}
#results{
    top: 210px;
    background-color: #f44336;
}
#logout{
    top: 270px;
    background-color: #555;
}
.uname{
    float: right;
    padding-right: 20px;
}
.side{
    margin-left:150px;
    align-items: center;
}
h1{
    text-decoration: underline;
}
td,th,tr{
    padding:  10px;
    border: 1px solid black;
}